body {
  font-size: 18px;
  line-height: 34px;
  height: auto;
  color: black;
  background: url("../Images/retina_wood.png");
}

.jumbotron{
  background-color:rgb(101, 187, 236);
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: auto;
}